.java-version
.python-version

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# IntelliJ IDEA IDE
.idea

# Compiled Python files
*.pyc

# Files that contain credentials or personal info
.extra
.boto
.mrjob.conf
.s3cfg
.aws/

# Repo scratch directory
scratch/

#node modules directory
node_modules/